:root {
  --main-color: #026670;
  --secondary-color: #9fedd7;
  --bg1-color: #fef9c7;
  --bg2-color: #fce181;
  --bg3-color: #edeae5;
}

.home-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/background.jpg");
  box-shadow: inset 100vw 1000px 100px rgba(0, 0, 0, 0.5);
}

.home-container p {
  color: var(--bg1-color);
  text-align: center;
}

.about-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg1-color);
}

.about-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.projects-section {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg3-color);
}
.projects-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.contact-section {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg2-color);;
}

.contact-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.color{
    color: var(--main-color);
}


.skill-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill i,
.skill span {
  color: var(--main-color);
}
.skill span {
  font-weight: 500;
}

.lang {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #eee;
  border-radius: 2px;
  margin-bottom: 5px;
  font-weight: 500;
}

h1 {
  color: var(--main-color) !important;
}
.about-content {
  height: 100%;
  display: flex;
  align-items: center;
}
.about-text {
  font-weight: 400;
  font-size: 1.5rem;
}
