.project-box {
  display: flex;
  padding: 0.5rem;
  border: 1px solid transparent;
  transition: 300ms;
  cursor: pointer;
  margin-bottom: 1rem;
}

.project-box:hover {
  background-color: rgba(56, 68, 188, 0.15);
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.project-box:hover .subtitle {
  color: var(--primary);
}

.project-box article {
  flex: 1;
  padding: 0.5rem;
}
.project-box aside {
  padding: 0.5rem;
  /* margin-right: 1rem; */
  width: 150px;
}

.project-box img {
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 768px) {
  .project-box {
    flex-direction: column;
    padding: 0;
  }

  .project-box aside {
    /* padding: 0; */
    width: 100%;
  }



  .project-box figure {
    margin-bottom: 0.5rem;
  }
}
