.button {
  color: var(--primary);
  font-weight: 700;
  border-color: var(--primary);
  transition: 300ms;
  background-color: transparent;
}

.button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--color-title);
}
