.input,
.textarea {
  background-color: var(--bg1-color);
  color: var(--color-title);
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-text);
}

.label {
  color: var(--color-title);
}
