.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: sticky;
  top: 0px;
}

.navbar > * {
  height: 100%;
}

.navbar nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar li {
  padding: 0 2rem;
  font-weight: 500;
  transition: 300ms;
}

.navbar li:hover {
  color: var(--color-title);
}

.navbar li.active a {
  color: var(--color-title) !important;
}

.brand img {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 1rem;
  }

  .navbar li {
    padding: 0 0.5rem;
  }
}
