.experience-box {
  display: flex;
  padding: 0.5rem;
  border: 1px solid transparent;
  transition: 300ms;
  cursor: pointer;
}

.experience-box:hover {
  background-color: rgba(56, 68, 188, 0.15);
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.experience-box:hover .subtitle {
  color: var(--primary);
}

.experience-box article {
  flex: 1;
  padding: 0.5rem;
}
.experience-box aside {
  padding: 0.5rem;
  /* margin-right: 1rem; */
  width: 150px;
}
