---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import { getCollection } from "astro:content";
import ExperiencePreview from "../components/ExperiencePreview.astro";

const experiences = (await getCollection("experience")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="About | Alberto Ramirez"
  description="About Alberto Ramirez Software Developer"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <!-- <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Jeanine White at work with a colleague" 
        /> -->
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am Alberto Ramirez, a passionate software developer with
            experience in full stack application and video game development.
            With a focus on creating interactive and functional experiences, I
            have worked on various projects ranging from web applications to
            video games, utilizing technologies such as JavaScript, React,
            Node.js, Unreal Engine, and C++. My background in Game Design and
            Development has provided me with a solid foundation in
            object-oriented programming and modular system design. Additionally,
            I enjoy sharing my knowledge and have had the opportunity to work as
            a programming instructor, where I’ve shared my passion for
            technology and helped others develop their skills. I am committed to
            continuous learning and improving my abilities, always seeking new
            opportunities to grow as a developer. If you’d like to learn more
            about my projects or discuss how I can contribute to your team, feel
            free to explore my portfolio.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Certificate of Higher Education in Web applications development.
          </p>
          <p>Master's degree in design and develeopment of video games.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          {experiences.map((exp) => <ExperiencePreview experience={exp} />)}
          <a target="_blank" href="/resume.pdf"> View full resume</a>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .section-sub-title {
    grid-column-start: 1;
    font-size: var(--text-lg);
    color: var(--gray-1);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
