@tailwind base;
@tailwind components;
@tailwind utilities;

.fiCircle {
  width: 24px;
  height: 24px;
  font-size: 24px;
  border-radius: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.06);
  background: white;
}

html {
  scroll-behavior: smooth;
}


body {
  /* @apply bg-gradient-to-r from-blue-950 to-blue-900; */
  background: #172554;
  /* background: linear-gradient(80deg, #172554 , #1e3a8a ); */
}

.frame {
  width: 79.5%;
  height: 75%;
  top: 14.5%;
  left: 10.2%;
}


